/* Event.css */

.event-detail-block {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.event-details {
  margin-top: 150px;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
}

.event-details img {
  width: 100%;
  height: 100vh; /* Set the height to 100vh for fullscreen */
  object-fit: cover; /* Maintain aspect ratio while covering the whole container */
  border-radius: 4px;
  margin-bottom: 10px;
}

.event-name {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-date-venue {
  display: flex;
  gap: 10px;
}

.event-date,
.event-venue {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%; /* Each taking half of the width */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-description {
  margin-top: 10px;
}

.event-who-why {
  display: flex;
  gap: 10px;
}

.event-why,
.event-who {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%; /* Each taking half of the width */
}

.event-why h3,
.event-who h3 {
  color: #333;
}

.event-why p,
.event-who p {
  color: #555;
}

.event-who ul {
  list-style-type: none;
  padding: 0;
}

.event-who li {
  color: #555;
}

.registration-options {
  margin-top: 20px;
}

.registration-options button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.registration-options button:hover {
  background-color: #2980b9;
}

