.aboutUs-container{
    display: inline;
}

.aboutUs-heading{
    font-size: 4rem;
    text-align: center;
}

.Vision,
.Mission{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers the div horizontally */
  align-items: center;     /* Centers the div vertically */
  height: 70vh;
}

.section-image{
    width: 100vw;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    height: auto;
    max-height: 400px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 10px; /* Add a border-radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.aboutUs-content{
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9; /* Add a light background color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    margin-top: 20px; /* Add margin at the top for separation */
    
}
.aboutUs-content:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Add a more prominent box shadow on hover */
}

.aboutUs-container h1{
    font-family: Houschka-medium;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #B03C00;
    margin-bottom: 2rem;
}

.aboutUs-container p{
    font-family: Basis-regular;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    color: #5E6162;
    opacity: .9;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .Vision,
    .Mission {
        height: auto; /* Adjust height for smaller screens */
        margin: 20px;
    }

    .section-image {
        display: none; /* Hide image on smaller screens */
    }

    .aboutUs-content {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
        margin-bottom: 10px;
    }
}