.aboutUs-container{
    display: flex;
    flex-direction: column;
}
.aboutUs-heading{
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    background: #333;
    color: antiquewhite;
}
.Vision{
    display: flex;
    position: relative;
    margin: auto;
}
.aboutUs-container h1{
    font-family: Houschka-medium;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #B03C00;
    margin-bottom: 2rem;
}
.aboutUs-container p{
    font-family: Basis-regular;
    font-size: 1.125rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    color: #5E6162;
    opacity: .9;
    margin-bottom: 0;
}
.aboutUs-content{
    position:relative;
    text-align: center;
    margin: 50px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background-color: rgba(255,255,255,1);
    border-radius: 0px;
    aspect-ratio: 24/9;
    z-index: 10;
}
.Mission{
    display: flex;
    position: relative;
    margin: auto;
}
.Vision >.aboutUs-content{
    transform: translateX(0%);
}
.Mission >.aboutUs-content{
    transform: translateX(0%);
}
.section-image{
    border-radius: 0px;
    margin: 20px 0px;
    width: 100%;
    max-width: 700px;
    height: auto;
} 

@media (max-width: 768px) {
    .aboutUs-content {
        margin: 10px;
    }
}

@media (max-width: 576px) {
    .aboutUs-content {
        width: 100%;
        max-width: none;
    }
}