/* Navbar.css */

/* Common styles for both affixed and non-affixed states */
.nav {
  width: 100%;
  height: 90px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100; /* Added solid to the border */
  background-color: transparent; /* Set default background color to transparent */
  transition: all 0.4s ease;
}

.nav .logo img {
  margin-top: -40px;
  margin-left: -10px;
  float: left;
  /* width: 150px; 
  height: 50px;  */
  padding-left: 0rem; /* Adjusted padding */
  object-fit: cover;
  transform: scale(0.38) ;
}

.nav .logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.nav .logo a:hover {
  color: #00E676;
}

.nav .main_list {
  height: 90px;
  float: right;
}

.nav .main_list ul {
  width: 100%;
  height: 90px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.nav div.main_list ul li {
  height: 90px;
  padding: 0;
  margin-right: 50px; /* Adjusted padding */
}

.nav div.main_list ul li {
  text-decoration: none;
  color: #ffffff;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
  cursor: pointer;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
}

.nav div.main_list ul li:hover {
  color: #000000;
  transition: all 0.2s ease-in;
}

.nav div.main_list ul li a:hover {
  color: #000000;
  transition: all 0.2s ease-in;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Affix styles */
.affix {
  padding: 0;
  background-color: #F1F8FB;
}

.affix div.main_list ul li {
  text-decoration: none;
  color: #000000;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
}

.affix div.main_list ul li a {
  text-decoration: none;
  color: #000000;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
}

.affix div.main_list ul li:hover {
  color: #000000;
}

.affix div.main_list ul li a:hover {
  color: #000000;
}




.theme_switch {
  max-width: 100px;
  display: flex;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  float: right;
}

.react-switch-bg {
  height: 80px;
}

.react-switch-handle {
  border: 2px solid #00E676;
}

.affix .theme_switch {
  color: #e943ff;
}


.vertical-switch {
  transform: rotate(90deg);
}

@media only screen and (max-width: 768px) {
  
  .nav {
    height: 70px;
    line-height: 50px;
    display: flex;
  }
  .nav .logo img {
    margin-top: -25px;
    transform: scale(0.3); 
  }
  .nav div.main_list {
    margin-top: -125px;
    margin-right: -125px;
   }
   
   .nav div.main_list ul li{
    margin-right: 25px;
   }
  .nav div.main_list ul li a{
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    height: 80px; 
    line-height: auto;
    display: inline;
  }
  .nav .logo img {
    margin-top: -50px;
    margin-left: -100px;
    transform: scale(0.2); 
  }
  .nav .main_list {
    margin-right:-200px;

  }
  .nav div.main_list ul li {
    font-size: 0.8rem; 
  }
  .theme_switch {
    display: none; 
  }
}
