
/* Navbar.css */

/* Common styles for both affixed and non-affixed states */
.nav {
  width: 100%;
  height: 90px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100; /* Added solid to the border */
  background-color: transparent; /* Set default background color to transparent */
  transition: all 0.4s ease;
}

.nav .logo img {
  margin-top: 20px;
  float: left;
  width: 150px; /* Adjusted the width */
  height: 50px; /* Adjusted the height */
  padding-left: 3rem; /* Adjusted padding */
}

.nav .logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.nav .logo a:hover {
  color: #00E676;
}

.nav .main_list {
  height: 90px;
  float: right;
}

.nav .main_list ul {
  width: 100%;
  height: 90px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.nav div.main_list ul li {
  height: 90px;
  padding: 0;
  margin-right: 50px; /* Adjusted padding */
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
}

.nav div.main_list ul li a:hover {
  color: #000000;
  transition: all 0.2s ease-in;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Affix styles */
.affix {
  padding: 0;
  background-color: #F1F8FB;
}


.affix div.main_list ul li a {
  text-decoration: none;
  color: #000000;
  line-height: 90px;
  font-size: 1.2rem; /* Adjusted font size */
  transition: color 0.2s ease-in;
}

.affix div.main_list ul li a:hover {
  color: #000000;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav {
    height: auto;
    padding: 10px 0;
  }

  .nav div.logo img {
    width: 120px;
    height: 40px;
    padding-left: 0.5rem;
  }

  .nav div.logo a {
    font-size: 1.2rem;
  }

  .nav div.main_list {
    float: none;
    text-align: center;
    margin-top: 10px;
    
  }

  .nav div.main_list ul {
    display: flex;
    flex-direction: column;
    
  }

  .nav div.main_list ul li {
    height: auto;
    padding: 10px 0;
    padding-right: 0;
  }
}


.theme_switch {
  max-width: 100px;
  display: flex;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  float: right;
}

.react-switch-bg {
  height: 80px;
}

.react-switch-handle {
  border: 2px solid #00E676;
}

.affix .theme_switch {
  color: #e943ff;
}


.vertical-switch {
  transform: rotate(90deg);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .theme_switch {
    margin-left: 0;
    margin-top: 10px; /* Adjusted margin-top for spacing */
    padding-right: 0; /* Removed padding */
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-end; /* Align the switch to the right on small screens */
  }
}