.service-container {
  text-align: center;
  padding: 20px;
}

.Services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100%;
  font-style: italic;
  text-decoration: solid;

  /* Gradient Background */
  background: linear-gradient(90deg, #4CAF50, #2196F3);
  /* Adjust colors as needed */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  /* Animation */
  animation: gradientAnimation 5s infinite alternate;
}

/* Animation Keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.Services .Card-root {
  width: calc(33.33% - 20px);
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 69, 255, 0.06);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Services .Card-root:hover {
  background-color: #f1f8fb;
  transform: scale(1.05); /* Add a slight scale effect on hover */
  box-shadow: 0 15px 30px 0 rgba(0, 69, 255, 0.1); /* Adjust box-shadow on hover */
}

.Services .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Services .image svg {
  font-size: 40px;
  border-radius: 50%;
  background-color: #f1f8f8;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Services h1 {
  margin: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700; /* Increased font weight for emphasis */
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Added text shadow for depth */
  letter-spacing: 1px; /* Adjust letter spacing for better readability */
}

.Services p {
  margin: 10px 0; /* Added margin for better spacing */
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 18px; /* Increased font size for better readability */
  line-height: 1.6; /* Adjusted line height for better readability */
  color: #777; /* Changed color to a softer tone */
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1200px) {
  .Services .Card-root {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .Services .Card-root {
    width: calc(100% - 20px);
  }
}
