.simple-carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .simple-carousel img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  
  button:first-child {
    left: 0;
  }
  
  button:last-child {
    right: 0;
  }
  