.simple-carousel {

    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .simple-carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background: linear-gradient(to bottom, rgba(140, 15, 175, 0.677), rgba(39, 39, 233, 0.6));
    pointer-events: none;

  }

  .simple-carousel img {
    width: 100%;
    height: 900px;
  }
  
  .simple-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  
  .simple-carousel button:first-child {
    left: 0;
  }
  
  .simple-carousel button:last-child {
    right: 0;
  }

  .simple-carousel h3 {
    position: absolute;
    top:30%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 50px;
  }

  .simple-carousel h2 {
    position: absolute;
    top: 40%;
    margin-top: 80px;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 80px;
  }

  .simple-carousel p{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 30px;
  }
  
  .simple-carousel .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
